* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background: #FC6767;
}

#header {
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start ;
    padding: 70px 12px;
    background-color: #262534;
    align-items: center;
    justify-content: space-between;
    top: 0;
}

#nav-bar {
    flex-direction: row;
    height: 12vh;
    text-align: center;
    align-items: center;
    position: fixed;
    left: 0;
}

nav a{
    flex: 1;
    text-align: center;
    margin: 0.25em;
    padding: 0.25em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: white;
  }

h1 {
    font-family: 'Yeseva One', cursive;
    text-align: center;
    display: flex;
    top: 0;
    position: fixed;
    color: white;
}
  
h3 {
    font-family: 'Yeseva One', cursive;
    text-align: center;
}

img {
    width: 80%;
    height: auto;
}

#header-img {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid;
    border-style: double;
    background: repeating-linear-gradient(135deg, rgb(201, 122, 81) 0px, rgb(201, 122, 81) 19px,rgb(179, 61, 37) 19px, rgb(179, 61, 37) 122px,rgb(223, 183, 125) 122px, rgb(223, 183, 125) 206px); 
    align-self: center;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 25px;
    margin-right: 10px;
}

#video {
    display: flex;
    width: 550px;
    height: 400px;
    flex-direction: row;
    border: 1px solid;
    margin: auto;
}

#product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-self: center;
    border: 1px solid;
    border-radius: 1%;
    width: 90%;
    padding-top: 150px;
}

#aguardente, #medronho, #licor-medronho {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: center;
}

#how-to-order {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#submit {
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    #video {
        display: flex;
        align-items: center;
        width: 100%;
    }
}

#location {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}



