* {
    margin: 0;
    line-height: 1.5;
}

h3 {
    text-align: center;
    padding-bottom: 30px;
}

.container {
    display: flex;
    background-color: gray;
    color: white;
    flex-direction: column;
}

@media (min-width: 768px) {
    #nav-title {
        font-size: 23px;
        border-bottom: solid 2px white;
        color: white;
        background-color: gray;
        padding-left: 10px;
        padding: 5px;
    
    }
}

@media (min-width: 768px) {
    .nav-link{
        font-size: 17px;
        line-height: 1.2;
        text-decoration: none;
        border-bottom: solid 1px white;
        display: flex;
        color: white;
        padding-left: 10px;
        padding-bottom: 11px;
        flex-direction: column;
        display: flex;
        height: 30px;
        text-align: left;
    }
}

@media (min-width: 768px) {
    #navbar {
        text-align: left;
        width: 270px;
        background-color: gray;
        border-right: solid 2px white;
        cursor: pointer;
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
    }
}

code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 8px;
    font-size: 105%;
    line-height: 3;
  }

  @media (min-width: 768px) {
    .main-section {
        display: flex;
        flex-direction: column;
        padding: 50px;
        margin-left: 300px;
    }
  }

  #intro {
      padding: 10px;
  }


  @media (max-width: 768px) {
    #navbar{
        position: fixed;
        background-color: rgb(71, 14, 124);
    }
}


@media (max-width: 768px) {
    #nav-links{
        display: flex;
        flex-wrap: wrap;

    }
}



@media (max-width: 768px) {
    .main-section {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 30px;
    }
}

@media (max-width: 768px) {
    #Introduction {
        padding-top: 300px;
    }
}
    
@media (max-width: 768px) {
     a {
        flex: auto;
        text-align: center;
        margin: 0.25em;
        padding: 0.25em;
        border: 1px solid #ddd;
        text-decoration: none;
        color: white;
        font-weight: bold;
    }
}

@media (max-width: 768px) {
    #nav-title {
        font-size: 25px;
        display: flex;
        flex-direction: column;
        text-align: center;

    }
}
