* {
    margin: 0;
    line-height: 1.5;
}

h3 {
    text-align: center;
    padding-bottom: 30px;
}

.container {
    display: flex;
    background-color: gray;
    color: white;
    flex-wrap: wrap;
    text-align: center;
}

#nav-title {
    font-size: 25px;
    border-bottom: solid 2px white;
    color: white;
    background-color: gray;
    padding-left: 10px;
    padding: 7px;
}

.nav-link{
    font-size: 17px;
    line-height: 1.6;
    text-decoration: none;
    border-bottom: solid 1px white;
    display: flex;
    color: white;
    padding-left: 10px;
}

#nav-bar {
    text-align: left;
    width: 270px;
    background-color: gray;
    border-right: solid 2px white;
    cursor: pointer;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
}

code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
  }

  .main-section {
      display: flex;
      flex-direction: column;
      padding-bottom: 50px;
      margin-left: 300px;
      
  }