* {
    margin: 0;
    line-height: 1.6;
}

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sacramento&display=swap');

.container {
    display: flex;
    flex-wrap: wrap;
}

#navbar {
    display: flex;
    background-color: red;
    flex: 1;
    text-transform: uppercase;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#navbar > a {
    text-decoration: none;
    color: white;
    height: 44px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#welcome-section {
    background: linear-gradient(45deg, #434343, #000000);
    flex: 2;
    padding-top: 23%;
    color: white;
}

#welcome-section > h1 {
    text-align: center;
    margin-bottom: 25%;
    right: 45%;
    font-family: 'Sacramento', cursive;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    background-color: #226089;
    text-align: center;   
    justify-content: space-around;
}

.project {
    max-width: 40%;
    padding: 1.5% 10px;
}

img {
    margin-top: 8px;
    width: 100%;
    border: 1px solid;
}

p, a {
    font-family: 'Oswald', sans-serif;
}



#contact {
    display: flex;
    flex: 4;
    background-color: #f5eded;
    text-align: center;
    justify-content: center;
    align-items: center;
}