* {
    margin: 0;
    line-height: 1.6;
}

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sacramento&display=swap');

.container {
    display: flex;
    flex-wrap: wrap;
}

#navbar {
    display: flex;
    background-color: red;
    flex: 1;
    text-transform: uppercase;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#navbar > a {
    text-decoration: none;
    color: white;
    height: 44px;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

#welcome-section {
    background: linear-gradient(45deg, #434343, #000000);
    flex: 2;
    height: 100vh;
    color: white;
}

#welcome-section > h1 {
    text-align: center;
    right: 45%;
    font-family: 'Sacramento', cursive;
    font-size: 60px;
    padding-top: 50vh;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    background-color: #226089;
    text-align: center;   
    justify-content: space-around;
    height: 100vh;
    width: 100%;
}

.project-tile {
    max-width: 40%;
    padding: 10px;
}

img {
    margin-top: 8px;
    width: 100%;
    height: auto%;
    border: 10px solid #434343;
}

p, a {
    font-family: 'Oswald', sans-serif;
}

p {
    cursor: pointer;
    background-color: #434343;
    border: none;
    color: white;
    padding: 15px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}


#contact {
    display: flex;
    flex: 4;
    background: linear-gradient(45deg, #434343, #000000);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#profile-link {
    color: white;
    list-style-type: none;
    text-decoration: none;
    background-color: red;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
}

#profile-link:hover {opacity: 1}

@media (max-width: 780px) {
    p {
        font-size: 15px;
    }
}

