* {
    margin: 0;
    line-height: 1.6;
    padding: 0;
}

html, body {
    height: 100%;   
}

.container {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: space-between;
    justify-content: end;
}


li {
    list-style: none;
    display: inline;
    float: left;
    padding: 8px;
}

#user-logo {
    border-radius: 50%;
}


#google-image {
    display: flex;
    height: 32vh;
    justify-content: center;
}

#google {
    margin-top: 10%;
}

#searchbox {
    display: block;
    text-align: center;
    height: 20vh;
    margin-bottom: 15%;
}

#searchbox-input {
    width: 25%;
    border-radius: 15px;
    border: 1px solid grey;
    height: 40px;
    margin-top: 10px;
    display: flex;
    margin-left: 38%;
    margin-bottom: 10px;
}

p {
    margin-top: 20px;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: lightgray;

}

#footer-portugal {
    border-bottom: 1px solid;
    width: 100%;
}

#footer-right, #footer-left {
    display: flex;
    height: 6vh;
}


