* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;   
}

.container {
    display: flex;
    flex-direction: column;
}

#header {
    display: flex;
    justify-content: space-between;
    justify-content: end;
}


li {
    list-style: none;
    display: inline-block;
    line-height: 24px;
    padding: 11px;
    vertical-align: middle;
    font-family: arial, sans-serif;
}

#user-logo {
    border-radius: 50%;
}


#google-image {
    display: flex;
    height: 32vh;
    justify-content: center;
}

#google {
    margin-top: 10%;
}

#searchbox {
    display: block;
    text-align: center;
    height: 20vh;
    margin-bottom: 15%;
}

#searchbox-input {
    width: 25%;
    border-radius: 15px;
    border: 1px solid grey;
    height: 40px;
    margin-top: 10px;
    display: flex;
    margin-left: 38%;
    margin-bottom: 30px;
}

#lucky, #search {    
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    padding: 0 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    color: #202124;
    font-size: 14px;
    cursor: pointer;
    line-height: 27px;
    height: 36px;
}

p {
    margin-top: 20px;
    font-size: small;
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    white-space: nowrap;
}

#footer-portugal {
    border-bottom: 1px solid;
    width: 100%;
    font-size: 15px;
    border-bottom: 1px solid #dadce0;
    color: #70757a; 
}

#footer-right, #footer-left {
    font-size: 14px;
    height: 100%;
    color: #70757a;
}


